@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* basic styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
}

p {
  line-height: 1.2;
  margin: 1rem 0;
}

img {
  width: 100%;
}

/* navbar styling */
.navbar {
  background-color: #047aed;
  color: #fff;
  height: 7rem;
}

.navbar ul  {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.5rem;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.navbar .flex {
  justify-content: space-between;
}

/* showcase */
.showcase {
  height: 40rem;
  background-color: #047aed;
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 6.4rem;
  font-weight: 300;
}

.showcase p {
  margin: 2rem 0;
  font-size: 1.6rem;
}

.showcase input {
  margin-bottom: .5rem;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 6rem;
  height: 35rem;
  width: 40rem;
  padding: 4rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 3rem 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;  
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  /* to work on other browser */
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.stats {
  padding-top: 10rem;
  color: #333;
}

.stats-heading {
  max-width: 500rem;
  margin: auto;
}

.stats .grid h3 {
  font-size: 3.5rem;
}

.stats .grid p {
  font-size: 1.8rem;
  font-weight: bold;
}

.stats .container h3 {
  font-size: 2.6rem;
  font-weight: 400;
}

/* CLI */
.cli .grid {
  font-size: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud section */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* languages */
.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin: 1.8rem 1rem 4rem;
}

.languages .card h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Features */
.features-head img {
  width: 20rem;
  justify-self: flex-end;
}

/* Footer */
.footer .social a {
  margin: 0 1rem;
}

.footer nav ul li a:hover, .footer .social a:hover {
  border-bottom: 2px solid #fff;
}

.footer .social i:hover {
  transition: 0.2s;
  transform: translateY(-8px);
}

.footer p {
  font-size: 1.5rem;
}

/* Tablets and under */
@media(max-width: 768px) {
  .grid, 
  .showcase .grid, 
  .stats .grid, 
  .cli .grid, 
  .cloud.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 4rem;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }
}

/* Mobile */
@media(max-width: 500px) {
  .navbar {
    height: 11rem;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
